
<h1>MAIN PAGE</h1>


<p>Welcome!<%= current_user.name %></p>
<p>You are logged in</p>


<form method="post" action="/logout">
    <input type="submit" value="logout">
</form>

<form method="get" action="/users/:id">
    <input type="submit" value="your profile page">
</form>




<h3> What is your question? </h3>
<form method="post" action="/ask">
    <input type="text"     placeholder="what is your question?" name="user[question]">
    <input type="submit" value="ask">
</form>



<h3>a list of questions </h3>

<% Question.all.each do |q| %>
<div class= "question_container">
    <div class="addform">
      <h5><%= q.user.name %></h5>
      <h5><a href="/questions/<%= q.id %>"><%= q.content %></a></h5>
      <button data-question-id="<%= q.id %>" class="answerbutton">answer</button>
    </div>
  </div>
<% end %>